{% extends "index.html" %}
{% load static %}

{% block content %}
  <article class="about active" data-page="about">
    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>
    <section class="about-text">
      <p>
        I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media.
        I enjoy turning complex problems into simple, beautiful, and intuitive designs.
      </p>
      <p>
        My job is to build your website so that it is functional and user-friendly but at the same time attractive.
        Moreover, I add a personal touch to your product and make sure it is eye-catching and easy to use. My aim is to bring
        across your message and identity in the most creative way. I have created web designs for many famous brand companies.
      </p>
    </section>

    <!-- Service Section -->
    <section class="service">
      <h3 class="h3 service-title">What I'm doing</h3>
      <ul class="service-list">
        <!-- Content for services -->
      </ul>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials">
      <h3 class="h3 testimonials-title">Testimonials</h3>
      <ul class="testimonials-list has-scrollbar">
        <!-- Content for testimonials -->
      </ul>
    </section>
  </article>
{% endblock %}
